body, html {
	margin:0px;
	min-width:320px;
	font-family:sans-serif;
}

body a#overview {
    padding:0px;
    padding-top:10px;
    padding-bottom:30px;
    display:block;
    color:black;
    text-decoration:none;
    font-size:20px;
    opacity:0.75;
}

a#overview:hover { opacity:1; }
a#overview span {
    font-size:16px;
    text-decoration:none;
    border-bottom:1px solid black;
}

#container {
	width:50%;
	margin:0px auto;
  margin-bottom:50px;
  line-height:1.8em;
}

#container img.center-image {
	display:block;
	margin:0px block;
}
#container figure {
	margin-top:50px;
	margin-bottom:50px;
}
#container figcaption {
	font-style:italic;
}
@media (max-width: 1000px) {
  body #container {
    width:75%;
  }
}
@media (max-width: 700px) {
  body #container {
    width:100%;
    padding:0px 20px;
    box-sizing:border-box;
  }
}
#container h2 {
    margin:0px;
    margin-bottom:30px;
}

/* Paths overview */

#paths-overview table {
    font-size:14px;
    border-collapse: collapse;
    border: 1px solid black;
    margin:0px auto;
}

#paths-overview table td {
    border: 1px solid black;
    text-align:center;
    padding:0px 8px;
}

/* How to prove it */
#prove-it .prove-it-list {
    list-style:none;
}
#prove-it .prove-it-list ul {
    margin-top:10px;
    list-style:none;
}
#prove-it .prove-it-list div {
    margin:10px 0px 15px 10px;
}
#prove-it .prove-it-list div a {
    display:block;
}
#prove-it #prove-it-img {
    padding-left:15px;
    float:right;
}

#nz-photos img
{
	image-orientation:from-image;
	max-width:600px;
	max-height:600px;
}

#hydrogen-wf table
{
    min-width:100%;
    font-size:14px;
    border-collapse: collapse;
    border: 1px solid black;
    margin:0px auto;

}
#hydrogen-wf table td, #hydrogen-wf table th {
    border: 1px solid black;
    text-align:center;
    padding:10px 20px;
    max-width:350px;
    min-width:75px;
}
#hydrogen-wf table div {
    overflow:auto;
    font-size:20px;
}

